<?xml version="1.0" encoding="utf-8"?>
<!--Me数据库地址-->
<!--<connectionStrings>
  <add name="NFineDbContext" connectionString="Server=38VVW3UAIQTVUAP\SQLEXPRESS;Initial Catalog=L;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
</connectionStrings>-->
<!--公司数据库地址-->
<connectionStrings>
  <add name="NFineDbContext" connectionString="Server=WIN-01801171206;Initial Catalog=L;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
</connectionStrings>